<configuration>
	<connectionStrings>
		<add name="TinyCollegeDB"
			 connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=TinyCollegeDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
